<form method="post" id="local-locator-form" class="find-location-for-service">
  <fieldset>

    <legend class="visuallyhidden">Postcode lookup</legend>
    <div class="location_error error-notification hidden"></div>

    <div class="ask_location <%= geo_known_to_at_least?('ward', @geostack) ? 'hidden' : '' %>">
      <label for="postcode">Enter a UK postcode <input class="postcode" id="postcode" name="postcode" type="text" placeholder="e.g. SW1A 2AA"></label>
      <input type="submit" value="Find" class="button">
    </div>

    <div class="finding_location hidden">
      <p>Locating you&hellip;</p>
    </div>
    <div class="found_location <%= geo_known_to_at_least?('ward', @geostack) ? '': 'hidden' %>">
      <p class="friendly-name">Your location is set to <strong><%= geo_friendly_name(@geostack) if geo_known_to_at_least?('ward', @geostack) %></strong>.<br/><a class="change-location" href=""><%= "Change your location".html_safe %></a></p>
    </div>
  </fieldset>
</form>

<section class="places answer_locations">
  <% if @places.any? %>
    <h3 id="places-header">Results near <strong><%= geo_friendly_name(@geostack) if geo_known_to_at_least?('ward', @geostack) %></strong>:</h3>
    <ol id="place_list" class="places">
     <%= mustache_partial '_place.html', {'options' => @places} %>
    </ol>
  <% elsif @params[:postcode].present? %>
    <div id="results-error" class="error-notification"><p>Sorry, no results were found near you.</p></div>
  <% else %>
    <h3 id="places-loading" class="hidden">Loading results near <strong class="locality_placeholder"></strong>.</h3>
    <div class="hidden error-notification" id="results-error"><p></p></div>
    <h3 id="places-header" class="hidden">Results near <strong class="locality_placeholder"></strong>:</h3>
    <ol id="place_list" class="places">
    </ol>
  <% end %>
</section>

<script id="place-template" type="text/x-mustache-template">
<%= mustache_direct '_place.html' %>
</script>

<script type="text/javascript">
var load_places = <%= geo_known_to_at_least?('ward', @geostack) ? 'false' : 'true' %>;
</script>